<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="TrustT Payments Standard" value="https://elitecapitalresearch.pkgs.visualstudio.com/e814e8a1-fa63-4079-a491-ca95e66941b1/_packaging/TrustTPaymentsStandard/nuget/v3/index.json" />
    <add key="TrustT Payments SDK" value="https://elitecapitalresearch.pkgs.visualstudio.com/e814e8a1-fa63-4079-a491-ca95e66941b1/_packaging/TrustTPaymentsSDK/nuget/v3/index.json" />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>