<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Trust Payment SDK" value="https://elitecapitalresearch.pkgs.visualstudio.com/d58d7a4f-0b9f-4539-a60f-a77a36d702e5/_packaging/TrustTSDKs%40Local/nuget/v3/index.json" />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>